---
import Layout from "@layout/layout.astro";
import { getCollection } from "astro:content";
import PostCard from "@components/post-card.astro";
import Separator from "@components/separator.astro";
const posts = await getCollection("blog");
const latestPosts = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<Layout title="Home">
  <article class="container">
    <header class="intro">
      <h1>Hi, I'm Isidro Torregrosa</h1>
      <p class="description">
        Technical Lead & Senior Full-Stack Engineer passionate about JavaScript,
        web development and Node.js.
      </p>
      <Separator />
    </header>

    <section>
      <h2>Latest Articles</h2>
      <ol role="list">
        {
          latestPosts.map((post) => (
            <li>
              <PostCard
                title={post.data.title}
                description={post.data.description}
                date={post.data.date}
                url={`/blog/${post.id}`}
              />
            </li>
          ))
        }
      </ol>
    </section>
  </article>
</Layout>

<style lang="scss">
  .intro {
    text-align: center;
  }
</style>
