---
import Layout from "@layout/layout.astro";
import { getCollection } from "astro:content";
import PostCard from "@components/post-card.astro";

const posts = await getCollection("blog");
const latestPosts = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<Layout title="Home">
  <article>
    <header class="hero">
      <h1>Hi, I'm Isidro Torregrosa</h1>
      <p class="description">
        Technical Lead & Senior Full-Stack Engineer passionate about JavaScript,
        web development and Node.js.
      </p>
    </header>

    <section class="latest-posts">
      <h2>Latest Articles</h2>
      <ol>
        {
          latestPosts.map((post) => (
            <li>
              <PostCard
                title={post.data.title}
                description={post.data.description}
                date={post.data.date}
                url={`/blog/${post.id}`}
              />
            </li>
          ))
        }
      </ol>
    </section>
  </article>
</Layout>

<style lang="scss">
  article {
    max-width: 65ch;
    margin-inline: auto;
  }

  header {
    margin-bottom: 3rem;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-block: 0.5rem 1rem;
      color: var(--color-fg-primary);
    }

    .description {
      font-size: 1.125rem;
      line-height: 1.5;
      color: var(--color-fg-secondary);
      margin: 0;
    }
  }

  .latest-posts {
    h2 {
      font-size: 1.75rem;
      line-height: 1.3;
      margin-block: 2rem 1rem;
      color: var(--color-fg-primary);
      text-align: center;
    }

    ol {
      display: grid;
      gap: 2rem;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
</style>
