---
interface Props {
  title: string;
  description: string;
  date: Date;
  url: string;
}

const { title, description, date, url } = Astro.props;
---

<article>
  <header>
    <time datetime={date.toISOString()}>
      {
        new Intl.DateTimeFormat("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        }).format(date)
      }
    </time>
    <h3>
      <a href={url}>{title}</a>
    </h3>
  </header>
  <p>{description}</p>
</article>

<style lang="scss">
  h3 {
    font-size: 1.25rem;
    margin-block: 0.5rem;

    a {
      color: var(--color-fg-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.2em;
      }
    }
  }
</style>
