---

---

<header>
  <div class="links container">
    <a href="/" class="home">~/isidrok</a>
    <div class="social">
      <a
        href="https://linkedin.com/in/itorregrosa"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >
      <a
        href="https://github.com/isidrok"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer">Github</a
      >
    </div>
  </div>
</header>

<style lang="scss">
  header {
    padding-block: 1rem;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 1rem;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-fg-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  .social {
    display: flex;
    gap: 1.25rem;
    font-size: 0.9rem;
    a {
      color: var(--color-fg-secondary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--color-fg-primary);
      }
    }
  }
</style>
